#page_wrap {
	background-image: url(../img/nyfun.png);
}

#left_buffer #right_buffer{
}

#prof_pic {
    background-image: url(../img/profile-05.png);
    
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
}


.fc-nice-list li {
    margin: 0;
    padding: 0;
    counter-reset: foo;
    display: table ;
    list-style: none;
    counter-increment: foo;
    display: table-row;
}

.fc-nice-list li::before {
    content: counter() ".";
    display: table-cell;
    text-align: right;
    padding-right: .3em;
}

.fc-center-align {
    text-align: center;
}

.fc-bg-1 {
    background-color: white;
}

.fc-bg-2 {
    background-image: url(../img/timessquare1x.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.fc-hero-overlay {
    background-color: rgb(26, 110, 204);
    color: white;
    opacity: 0.85}

.fc-img-resp {
    max-width: 100%;
    height: auto;
}

.img-center {
    margin: 0 auto;
}









@media(min-width:768px) {
    #main {
        padding-top: 15px;
    }
    .hero-right {
        padding-left: 30px;
    }
    .fc-row-reverse {
        display: flex;
        flex-direction: row-reverse;
    }
}

@media(max-width:767px) {
    #main {
    	margin-top: 60px;
    }
    body {
    	margin-top:0px;
    }
    .fc-row-reverse {
        flex-direction: row;
    }
}
