/*
  FORREST.CSS
  Custom styles for my stuff
*/

/* Nav Bar - Link colors */
.navbar-custom .navbar-nav li a:hover {
  color: #03C126;
}

.navbar-custom .navbar-nav li.active a {
  color: black;
  border-color: #03C126;
}
.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
  color: black;
  border-color: #03C126;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  border-color: #03C126;
}

/* fa-tint style */
  hr.tint-light,
  hr.tint-primary {
    padding: 0;
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 250px;
    margin: 25px auto 30px;
  }
  hr.tint-light:after,
  hr.tint-primary:after {
    content: "\f043";
   font-family: FontAwesome;
   display: inline-block;
   position: relative;
   top: -0.8em;
   font-size: 2em;
   padding: 0 0.25em;
  }
  hr.tint-light {
    border-color: white;
  }
  hr.tint-light:after {
    background-color: #18BC9C;
    color: white;
  }
  hr.tint-primary {
    border-color: #2C3E50;
  }
  hr.tint-primary:after {
    background-color: white;
   color: #2C3E50;
  }

/* fa-hand-peace-o style */
  hr.hand-peace-o-light,
  hr.hand-peace-o-primary {
    padding: 0;
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 250px;
    margin: 25px auto 30px;
  }
  hr.hand-peace-o-light:after,
  hr.hand-peace-o-primary:after {
    content: "\f25b";
   font-family: FontAwesome;
   display: inline-block;
   position: relative;
   top: -0.8em;
   font-size: 2em;
   padding: 0 0.25em;
  }
  hr.hand-peace-o-light {
    border-color: white;
  }
  hr.hand-peace-o-light:after {
    background-color: #03C126;
    color: white;
  }
  hr.hand-peace-o-primary {
    border-color: #03C126;
  }
  hr.hand-peace-o-primary:after {
    background-color: white;
   color: #03C126;
  }

/* fa-subway style */
  hr.subway-light,
  hr.subway-primary {
    padding: 0;
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 250px;
    margin: 25px auto 30px;
  }
  hr.subway-light:after,
  hr.subway-primary:after {
    content: "\f239";
   font-family: FontAwesome;
   display: inline-block;
   position: relative;
   top: -0.8em;
   font-size: 2em;
   padding: 0 0.25em;
  }
  hr.subway-light {
    border-color: white;
  }
  hr.subway-light:after {
    background-color: #03C126;
    color: white;
  }
  hr.subway-primary {
    border-color: #2C3E50;
  }
  hr.subway-primary:after {
    background-color: white;
   color: #2C3E50;
  }


/* Specific section stylings */

#about {
  background-color: #03C126;
  color: white;
}

#portfolio {
  color: #03C126;

}

/* Media query additions */

@media (max-width: 767px) {
  header {
    background-image:url(assets/sights-and-sounds-1x.png);
    background-attachment: fixed;
    background-size: 100%;

  }

  #portfolio {
    background-image:url(assets/sights-and-sounds-1x.png);
    background-attachment: fixed;
    background-size: 100%;
  }

}

@media (min-width: 768px) {
  header {
    background-image:url(assets/sights-and-sounds-2x.png);
    background-attachment: fixed;
    background-size: 100%;
  }

  #portfolio {
    background-image:url(assets/sights-and-sounds-2x.png);
    background-attachment: fixed;
    background-size: 100%;
  }

}

/*End FORREST.CSS*/