#page_wrap {
	background-image: url(../img/nyfun.png);
}

#left_buffer #right_buffer{
}

#prof_pic {
    background-image: url(../img/profile-05.png);
    
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-theme-1 {
    background-color: white;
}

.img-center {
    margin: 0 auto;
}

@media(min-width:768px) {
    #main {
        padding-top: 15px;
    }
    .hero-right {
        padding-left: 30px;
    }
}

@media(max-width:767px) {
    #main {
    	margin-top: 60px;
    }
    body {
    	margin-top:0px;
    }
}
