 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Our Vision</h2>
                    <hr class="subway-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        The addictive energy of New York City is rivaled by no other.  RISE AND PINE is an ambassador for this place we call home, spreading that feeling that anything is possible under the bright city lights.
                    </p>
                </div>
            </div>
        </div>
    </section>