<!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                   <!-- <img class="img-responsive" src="img/rp-brooklyner-roof.jpg" alt=""> -->
                    <div class="intro-text">                          
                        <img src="img/piney-web-1x.png">
                        <div id="header-text">
                            <span class="name">RISE AND PINE CO.</span>
                            <span class="skills">Ambassadors of The Big (Pine)Apple</span>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </header>