<!-- Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <div id="portfolioModal1-name"><h2>City Inspired</h2></div>
                            <hr class="hand-peace-o-primary">
                            <img src="img/rp-citycup-banner-1x.png" class="img-responsive img-centered" alt="">

                            <p align=left>RISE AND PINE is based in New York City, the city that never sleeps and the mecca for hustlers. From the suit & ties in Midtown to the laid back vibes of the East Village, it is this addictive energy that only those who have been here can understand.<p>

                            <p align=left>Our designs are a fun representation of the eclectic personalities that make up the Big (Pine)Apple.</p>

                            <p align=right><button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-coffee"></i> Back</button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- City Inspired modal -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <div id="portfolioModal2-name"><h2>THE BIG (PINE)APPLE</h2></div>
                            <hr class="hand-peace-o-primary">
                            <img src="img/rp-pineyspread-banner-1x.png" class="img-responsive img-centered" alt="">
                            
                            <p align=left>
                            A Pineapple wearing a suit hustling around the big city: what's there not to love?
                            </p>

                            <p align=left>
                            RISE AND PINE aims to capture that Go! Go! Go! rush of energy bundled up into a fun little mascot.
                            </p>
                            
                            <p align=right><button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-coffee"></i> Back</button></p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Our Products modal -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <div id="portfolioModal3-name"><h2>Our Products</h2></div>
                            <hr class="hand-peace-o-primary">
                                <img src="img/rp-mugshot-banner-1x.png" class="img-responsive img-centered" alt="">
                                <p align=left>
                                We are committed to sourcing locally in the U.S., choosing only the highest quality materials and manufacturers to best represent our brand.
                                </p>
                                <p align=left>
                                As we expand our line (shirts are next), we promise to remain rooted in our core values and continuously provide a splash of fun for the city lifestyle.
                                </p>

                                <p align=right><button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-coffee"></i> Back</button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>